<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Dev</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin/Dev/publish</PublishDir>
    <PublishUrl>https://dev.haiku.local</PublishUrl>
    <EnvironmentName>Dev</EnvironmentName>
  </PropertyGroup>
</Project>
