<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Qual</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin/Qual/publish</PublishDir>
    <PublishUrl>https://qual.haiku.local</PublishUrl>
    <EnvironmentName>Qual</EnvironmentName>
  </PropertyGroup>
</Project>
