<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin/Release/publish</PublishDir>
    <PublishUrl>https://haiku.app</PublishUrl>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
