# Project EditorConfig file.
root = true

# Global defaults.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# conventions.
[*.cs]
indent_style = space
indent_size = 4

# JSON/YAML/Markdown conventions.
[*.{json,jsonc,yml,yaml,md}]
indent_style = space
indent_size = 2

# PowerShell — LF works cross-platform.
[*.ps1]
indent_style = space
indent_size = 4
end_of_line = lf

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
